* {
  padding: 0px;
  margin: 0px;
}

body {
  /*height: 100vh;
  width: 100vw;
  background-image: url("../123.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center; */
}
