* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 500px;
  background-color: rgb(239, 243, 21);
  padding: 10px;
  padding-top: 0px;
  height: 600px;
  margin: auto;
  position: relative;
}

.mab {
  width: 100px;
  height: 100px;
  color: #ffffff;
  background-color: rgb(18, 149, 224);
  display: grid;
  place-items: center;
  position: absolute;
  left: 10px;
  top: 0px;
}

span {
  margin-top: -8px;
}

h1 {
  color: rgb(18, 149, 224);
  font-size: 121px;
  text-align: center;
  margin-top: 100px;
}

.float {
  overflow: hidden;
}

.mini-box {
  float: left;
  width: 48px;
  height: 20px;
  background-color: black;
}

.mini-box:nth-child(odd) {
  background: rgb(239, 243, 21);
}

.flex {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-between;
}

div.box {
  flex-basis: 125px;
  color: black;
  font-size: 3vw;
  text-align: center;
}
